<!doctype html>
<html lang="en">
   
<!-- Mirrored from iqonic.design/themes/xray/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 18 Mar 2020 16:41:48 GMT -->
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Xamine - Patient Dashboard </title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">
       <!-- Full calendar -->
      <link href='fullcalendar/core/main.css' rel='stylesheet' />
      <link href='fullcalendar/daygrid/main.css' rel='stylesheet' />
      <link href='fullcalendar/timegrid/main.css' rel='stylesheet' />
      <link href='fullcalendar/list/main.css' rel='stylesheet' />

      <link rel="stylesheet" href="css/flatpickr.min.css">


   </head>
   <body class="sidebar-main-menu">
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">

         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
               <a href="index.html">
               <img src="images/logo.png" class="img-fluid" alt="">
               <span>Xamine</span>
               </a>
               <div class="iq-menu-bt-sidebar">
                     <div class="iq-menu-bt align-self-center">
                        <div class="wrapper-menu">
                           <div class="main-circle"><i class="ri-more-fill"></i></div>
                           <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                        </div>
                     </div>
                  </div>
            </div>
            <div id="sidebar-scrollbar">
               <nav class="iq-sidebar-menu">
                  <ul id="iq-sidebar-toggle" class="iq-menu">
                     <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Dashboard</span></li>
                     <li >
                        <a href="index.html" class="iq-waves-effect"><i class="ri-hospital-fill"></i><span>Doctor Dashboard</span></a>
                     </li>                     
                   
                     <li>
                        <a href="dashboard-2.html" class="iq-waves-effect"><i class="ri-briefcase-4-fill"></i><span>Hospital Dashboard </span></a>
                     </li>
                     <li class="active">
                        <a href="dashboard-3.html" class="iq-waves-effect"><i class="ri-group-fill"></i><span>Patient Dashboard</span></a>
                     </li>
                     <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Apps</span></li>
                     <li>
                        <a href="#mailbox" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-mail-open-fill"></i><span>Email</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="mailbox" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                           <li><a href="app/index.html"><i class="ri-inbox-fill"></i>Inbox</a></li>
                           <li><a href="app/email-compose.html"><i class="ri-edit-2-fill"></i>Email Compose</a></li>
                        </ul>
                     </li>
                     
                     <li>
                        <a href="#doctor-info" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-user-3-fill"></i><span>Doctors</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="doctor-info" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                           <li><a href="doctor-list.html"><i class="ri-file-list-fill"></i>All Doctors</a></li>
                           <li><a href="add-doctor.html"><i class="ri-user-add-fill"></i> Add Doctor</a></li>
                           <li><a href="profile.html"><i class="ri-profile-fill"></i>Doctor Profile</a></li>
                           <li><a href="profile-edit.html"><i class="ri-file-edit-fill"></i> Edit Doctor</a></li>
                        </ul>
                     </li>
                  <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Pages</span></li>
                            <li>
                        <a href="#map" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-map-pin-2-fill"></i><span>Maps</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="map" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                           <li><a href="pages-map.html"><i class="ri-google-fill"></i>Google Map</a></li>
                          
                        </ul>
                     </li>
                    <li>
                        <a href="logout.html" class="iq-waves-effect"><i class="ri-login-box-fill"></i><span>Logout</span></a>
                     </li>  
                          
                        </ul>
                     </li>
                     
                    
                  </ul>
               </nav>
               <div class="p-3"></div>
            </div>
         </div>
      <!-- Page Content  -->
      <div id="content-page" class="content-page">
         <!-- TOP Nav Bar -->
         <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
               <div class="iq-sidebar-logo">
                  <div class="top-logo">
                     <a href="index.html" class="logo">
                     <img src="images/logo.png" class="img-fluid" alt="">
                     <span>XRay</span>
                     </a>
                  </div>
               </div>
               <nav class="navbar navbar-expand-lg navbar-light p-0">
                  <div class="iq-search-bar">
                     <form action="#" class="searchbox">
                        <input type="text" class="text search-input" placeholder="Type here to search...">
                        <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                     </form>
                  </div>
                  <div>
                     <form action="/userUpdate-<%=user.id%>?_method=PUT" method="POST" >
                        <button type="submit" class="btn btn-secondary">Update Data</button>
                     </form>
                  </div>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="ri-menu-3-line"></i>
                  </button>
                  <div class="iq-menu-bt align-self-center">
                     <div class="wrapper-menu">
                        <div class="main-circle"><i class="ri-more-fill"></i></div>
                        <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                     </div>
                  </div>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav ml-auto navbar-list">
                        <li class="nav-item">
                           <a class="search-toggle iq-waves-effect language-title" href="#"><img src="images/small/flag-01.png" alt="img-flaf" class="img-fluid mr-1" style="height: 16px; width: 16px;" /> English <i class="ri-arrow-down-s-line"></i></a>
                           <div class="iq-sub-dropdown">
                              <a class="iq-sub-card" href="#"><img src="images/small/flag-02.png" alt="img-flaf" class="img-fluid mr-2" />French</a>
                              <a class="iq-sub-card" href="#"><img src="images/small/flag-03.png" alt="img-flaf" class="img-fluid mr-2" />Spanish</a>
                              <a class="iq-sub-card" href="#"><img src="images/small/flag-04.png" alt="img-flaf" class="img-fluid mr-2" />Italian</a>
                              <a class="iq-sub-card" href="#"><img src="images/small/flag-05.png" alt="img-flaf" class="img-fluid mr-2" />German</a>
                              <a class="iq-sub-card" href="#"><img src="images/small/flag-06.png" alt="img-flaf" class="img-fluid mr-2" />Japanese</a>
                           </div>
                        </li>
                        <li class="nav-item iq-full-screen">
                           <a href="#" class="iq-waves-effect" id="btnFullscreen"><i class="ri-fullscreen-line"></i></a>
                        </li>
                        <li class="nav-item">
                           <a href="#" class="search-toggle iq-waves-effect">
                           <i class="ri-notification-3-fill"></i>
                           <span class="bg-danger dots"></span>
                           </a>
                           <div class="iq-sub-dropdown">
                              <div class="iq-card shadow-none m-0">
                                 <div class="iq-card-body p-0 ">
                                    <div class="bg-primary p-3">
                                       <h5 class="mb-0 text-white">All Notifications<small class="badge  badge-light float-right pt-1">4</small></h5>
                                    </div>
                                    <a href="#" class="iq-sub-card" >
                                       <div class="media align-items-center">
                                          <div class="">
                                             <img class="avatar-40 rounded" src="images/user/01.jpg" alt="">
                                          </div>
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">Emma Watson Bini</h6>
                                             <small class="float-right font-size-12">Just Now</small>
                                             <p class="mb-0">95 MB</p>
                                          </div>
                                       </div>
                                    </a>
                                    <a href="#" class="iq-sub-card" >
                                       <div class="media align-items-center">
                                          <div class="">
                                             <img class="avatar-40 rounded" src="images/user/02.jpg" alt="">
                                          </div>
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">New customer is join</h6>
                                             <small class="float-right font-size-12">5 days ago</small>
                                             <p class="mb-0">Jond Bini</p>
                                          </div>
                                       </div>
                                    </a>
                                    <a href="#" class="iq-sub-card" >
                                       <div class="media align-items-center">
                                          <div class="">
                                             <img class="avatar-40 rounded" src="images/user/03.jpg" alt="">
                                          </div>
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">Two customer is left</h6>
                                             <small class="float-right font-size-12">2 days ago</small>
                                             <p class="mb-0">Jond Bini</p>
                                          </div>
                                       </div>
                                    </a>
                                    <a href="#" class="iq-sub-card" >
                                       <div class="media align-items-center">
                                          <div class="">
                                             <img class="avatar-40 rounded" src="images/user/04.jpg" alt="">
                                          </div>
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">New Mail from Fenny</h6>
                                             <small class="float-right font-size-12">3 days ago</small>
                                             <p class="mb-0">Jond Bini</p>
                                          </div>
                                       </div>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="nav-item dropdown">
                           <a href="#" class="search-toggle iq-waves-effect">
                           <i class="ri-mail-open-fill"></i>
                           <span class="bg-primary count-mail"></span>
                           </a>
                           <div class="iq-sub-dropdown">
                              <div class="iq-card shadow-none m-0">
                                 <div class="iq-card-body p-0 ">
                                    <div class="bg-primary p-3">
                                       <h5 class="mb-0 text-white">All Messages<small class="badge  badge-light float-right pt-1">5</small></h5>
                                    </div>
                                    <a href="#" class="iq-sub-card" >
                                       <div class="media align-items-center">
                                          <div class="">
                                             <img class="avatar-40 rounded" src="images/user/01.jpg" alt="">
                                          </div>
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">Bini Emma Watson</h6>
                                             <small class="float-left font-size-12">13 Jun</small>
                                          </div>
                                       </div>
                                    </a>
                                    <a href="#" class="iq-sub-card" >
                                       <div class="media align-items-center">
                                          <div class="">
                                             <img class="avatar-40 rounded" src="images/user/02.jpg" alt="">
                                          </div>
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">Lorem Ipsum Watson</h6>
                                             <small class="float-left font-size-12">20 Apr</small>
                                          </div>
                                       </div>
                                    </a>
                                    <a href="#" class="iq-sub-card" >
                                       <div class="media align-items-center">
                                          <div class="">
                                             <img class="avatar-40 rounded" src="images/user/03.jpg" alt="">
                                          </div>
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">Why do we use it?</h6>
                                             <small class="float-left font-size-12">30 Jun</small>
                                          </div>
                                       </div>
                                    </a>
                                    <a href="#" class="iq-sub-card" >
                                       <div class="media align-items-center">
                                          <div class="">
                                             <img class="avatar-40 rounded" src="images/user/04.jpg" alt="">
                                          </div>
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">Variations Passages</h6>
                                             <small class="float-left font-size-12">12 Sep</small>
                                          </div>
                                       </div>
                                    </a>
                                    <a href="#" class="iq-sub-card" >
                                       <div class="media align-items-center">
                                          <div class="">
                                             <img class="avatar-40 rounded" src="images/user/05.jpg" alt="">
                                          </div>
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">Lorem Ipsum generators</h6>
                                             <small class="float-left font-size-12">5 Dec</small>
                                          </div>
                                       </div>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
                  <ul class="navbar-list">
                     <li>
                        <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                           <img src="images/user/26.jpg" class="img-fluid rounded mr-3" alt="user">
                           <div class="caption">
                              <h6 class="mb-0 line-height">Anaisha Garg</h6>
                            
                           </div>
                        </a>
                        <div class="iq-sub-dropdown iq-user-dropdown">
                           <div class="iq-card shadow-none m-0">
                              <div class="iq-card-body p-0 ">
                                 <div class="bg-primary p-3">
                                    <h5 class="mb-0 text-white line-height">Hello Bini Jets</h5>
                                    <span class="text-white font-size-12">Available</span>
                                 </div>
                                 <a href="profile.html" class="iq-sub-card iq-bg-primary-hover">
                                    <div class="media align-items-center">
                                       <div class="rounded iq-card-icon iq-bg-primary">
                                          <i class="ri-file-user-line"></i>
                                       </div>
                                       <div class="media-body ml-3">
                                          <h6 class="mb-0 ">My Profile</h6>
                                          <p class="mb-0 font-size-12">View personal profile details.</p>
                                       </div>
                                    </div>
                                 </a>
                                 <a href="profile-edit.html" class="iq-sub-card iq-bg-primary-hover">
                                    <div class="media align-items-center">
                                       <div class="rounded iq-card-icon iq-bg-primary">
                                          <i class="ri-profile-line"></i>
                                       </div>
                                       <div class="media-body ml-3">
                                          <h6 class="mb-0 ">Edit Profile</h6>
                                          <p class="mb-0 font-size-12">Modify your personal details.</p>
                                       </div>
                                    </div>
                                 </a>
                                 <a href="account-setting.html" class="iq-sub-card iq-bg-primary-hover">
                                    <div class="media align-items-center">
                                       <div class="rounded iq-card-icon iq-bg-primary">
                                          <i class="ri-account-box-line"></i>
                                       </div>
                                       <div class="media-body ml-3">
                                          <h6 class="mb-0 ">Account settings</h6>
                                          <p class="mb-0 font-size-12">Manage your account parameters.</p>
                                       </div>
                                    </div>
                                 </a>
                                 <a href="privacy-setting.html" class="iq-sub-card iq-bg-primary-hover">
                                    <div class="media align-items-center">
                                       <div class="rounded iq-card-icon iq-bg-primary">
                                          <i class="ri-lock-line"></i>
                                       </div>
                                       <div class="media-body ml-3">
                                          <h6 class="mb-0 ">Privacy Settings</h6>
                                          <p class="mb-0 font-size-12">Control your privacy parameters.</p>
                                       </div>
                                    </div>
                                 </a>
                                 <div class="d-inline-block w-100 text-center p-3">
                                    <a class="bg-primary iq-sign-btn" href="sign-in.html" role="button">Sign out<i class="ri-login-box-line ml-2"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
         <!-- TOP Nav Bar END -->
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-4 row m-0 p-0">
                  <div class="col-sm-12">
                  <div class="iq-card iq-card-block iq-card-stretch iq-card-height iq-user-profile-block" style="height: 75%;">
                     <div class="iq-card-body">
                        <div class="user-details-block">
                           <div class="user-profile text-center">
                              <img src="<%=user.image%>" alt="profile-img" class="avatar-130 img-fluid">
                           </div>
                           <div class="text-center mt-3">
                              <h4><b> <%= user.username %> </b></h4>
                              <p> <%= user.age %>  years, <%= user.location %>  </p>
                           </div>
                           <ul class="doctoe-sedual d-flex align-items-center justify-content-between p-0 mt-4 mb-0">
                              <li class="text-center">
                                 <h6 class="text-primary">Weight</h6>
                                 <h3> <%= user.weight %><span>kg</span></h3>
                              </li>
                              <li class="text-center">
                                 <h6 class="text-primary">Height</h6>
                                 <h3> <%= user.height %><span></span></h3>
                              </li>
                              <li class="text-center">
                                 <h6 class="text-primary">Goal</h6>
                                 <h3 class="text-warning"> <%= user.goalKG %><span></span></h3>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div></div>
                  <div class="col-sm-12">
                  <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                     <div class="iq-card-body">
                        <div class="patient-steps">
                           <div class="d-flex align-items-center justify-content-between">
                              <div class="col-md-6">
                                 <div class="data-block">
                                    <p class="mb-0">Walked</p>
                                    <h5> <%= user.walkedSteps %> steps</h5>
                                 </div>
                                 <div class="data-block mt-3">
                                    <p class="mb-0">My Goal</p>
                                    <h5> <%= user.goalSteps %> steps</h5>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <% var p1 = user.walkedSteps / user.goalSteps * 100  %>
                                 <div class="progress-round patient-progress mx-auto" data-value="<%=p1%>">
                                    <span class="progress-left">
                                    <span class="progress-bar border-secondary"></span>
                                    </span>
                                    <span class="progress-right">
                                    <span class="progress-bar border-secondary"></span>
                                    </span>
                                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center text-center">
                                       <div class="h4 mb-0"> <%- user.goalSteps -  user.walkedSteps %> <br> <span class="font-size-14">left</span></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <ul class="patient-role list-inline d-flex align-items-center p-0 mt-4 mb-0">
                              <li class="text-left">
                                 <h6 class="text-primary">Carbs</h6>
                                 <div class="iq-progress-bar-linear d-inline-block w-100">
                                    <div class="iq-progress-bar">
                                       <span class="bg-primary" data-percent="85"></span>
                                    </div>
                                 </div>
                              </li>
                              <li class="text-left">
                                 <h6 class="text-primary">Protein</h6>
                                 <div class="iq-progress-bar-linear d-inline-block w-100">
                                    <div class="iq-progress-bar">
                                       <span class="bg-danger" data-percent="65"></span>
                                    </div>
                                 </div>
                              </li>
                              <li class="text-left">
                                 <h6 class="text-primary">Fat</h6>
                                 <div class="iq-progress-bar-linear d-inline-block w-100">
                                    <div class="iq-progress-bar">
                                       <span class="bg-info" data-percent="70"></span>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                        <hr>
                        <div class="patient-steps2">
                           <div class="d-flex align-items-center justify-content-between">
                              <div class="col-md-6">
                                 <div class="data-block">
                                    <p class="mb-0">Burned</p>
                                    <h5><%= user.burnedKcal %> kcal</h5>
                                 </div>
                                 <div class="data-block mt-3">
                                    <p class="mb-0">My Goal</p>
                                    <h5><%= user.goalKcal %> kcal</h5>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <% var p2 = user.burnedKcal / user.goalKcal * 100  %>
                                 <div class="progress-round patient-progress mx-auto" data-value="<%=p2%>">
                                    <span class="progress-left">
                                    <span class="progress-bar border-secondary"></span>
                                    </span>
                                    <span class="progress-right">
                                    <span class="progress-bar border-secondary"></span>
                                    </span>
                                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center text-center">
                                       <div class="h4 mb-0 text-warning"><%- user.goalKcal -  user.burnedKcal %><br> <span class="font-size-14 text-secondary">left</span></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <ul class="patient-role list-inline d-flex align-items-center p-0 mt-4 mb-0">
                              <li class="text-left">
                                 <h6 class="text-primary">Carbs</h6>
                                 <div class="iq-progress-bar-linear d-inline-block w-100">
                                    <div class="iq-progress-bar">
                                       <span class="bg-primary" data-percent="50"></span>
                                    </div>
                                 </div>
                              </li>
                              <li class="text-left">
                                 <h6 class="text-primary">Protein</h6>
                                 <div class="iq-progress-bar-linear d-inline-block w-100">
                                    <div class="iq-progress-bar">
                                       <span class="bg-danger" data-percent="60"></span>
                                    </div>
                                 </div>
                              </li>
                              <li class="text-left">
                                 <h6 class="text-primary">Fat</h6>
                                 <div class="iq-progress-bar-linear d-inline-block w-100">
                                    <div class="iq-progress-bar">
                                       <span class="bg-info" data-percent="70"></span>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               </div>
               <div class="col-lg-8">
                  <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                     <div class="iq-card-body pb-0">
                        <div class="row">
                           <div class="col-sm-12">
                              <div class="iq-card">
                                 <div class="iq-card-body bg-primary rounded pt-2 pb-2 pr-2">
                                    <div class="d-flex align-items-center justify-content-between">
                                       <p class="mb-0">Advice! Install our App for better results.</p>
                                       <div class="rounded iq-card-icon bg-white">
                                          <img src="images/page-img/37.png" class="img-fluid" alt="icon">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="iq-card">
                                 <div class="iq-header-title">
                                    <h4 class="card-title text-primary">Popular Activities</h4>
                                 </div>
                                 <div class="iq-card-body pl-0 pr-0 pb-0">
                                    <div class="row">
                                       <div class="col-md-4">
                                          <div class="training-block d-flex align-items-center">
                                             <div class="rounded-circle iq-card-icon iq-bg-primary">
                                                <img src="images/page-img/34.png" class="img-fluid" alt="icon">
                                             </div>
                                             <div class="ml-3">
                                                <h5 class="">Walking & Exercise</h5>
                                                <p class="mb-0"> <%= user.walkingExercise %> kcal / h</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-md-4">
                                          <div class="training-block d-flex align-items-center">
                                             <div class="rounded-circle iq-card-icon iq-bg-primary">
                                                <img src="images/page-img/35.png" class="img-fluid" alt="icon">
                                             </div>
                                             <div class="ml-3">
                                                <h5 class="">Playing</h5>
                                                <p class="mb-0"><%= user.playing %>  kcal / h</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-md-4">
                                          <div class="training-block d-flex align-items-center">
                                             <div class="rounded-circle iq-card-icon iq-bg-primary">
                                                <img src="images/page-img/36.png" class="img-fluid" alt="icon">
                                             </div>
                                             <div class="ml-3">
                                                <h5 class="">Stretching</h5>
                                                <p class="mb-0"><%= user.streching %>  kcal / h</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-8">
                              <div class="iq-card">
                                 <div class="iq-card-header d-flex justify-content-between p-0 bg-white">
                                    <div class="iq-header-title">
                                       <h4 class="card-title text-primary">Weight Statistics</h4>
                                    </div>
                                 </div>
                                 <div class="iq-card-body p-0">
                                    <div id="patient-chart-1"></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4">
                              <div class="iq-card mb-0">
                                 <div class="iq-card-header d-flex justify-content-between p-0 bg-white">
                                    <div class="iq-header-title">
                                       <h4 class="card-title text-primary">Physical Activities</h4>
                                    </div>
                                    <div class="iq-card-header-toolbar d-flex align-items-center">
                                       <div class="dropdown">
                                          <span class="dropdown-toggle iq-bg-primary btn" id="dropdownMenuButton4" data-toggle="dropdown">
                                          <i class="ri-add-line m-0 text-primary"></i>
                                          </span>
                                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton4">
                                             <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                             <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                             <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                             <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                             <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="iq-card-body p-0">
                                    <table class="table mb-0 table-borderless table-box-shadow">
                                       <thead>
                                          <tr>
                                             <th scope="col">Exercises</th>
                                             <th scope="col"> <%= user.physicalActivities.exercises %> </th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr>
                                             <td>Burned</td>
                                             <td> <%= user.physicalActivities.burned %> </td>
                                          </tr>
                                          <tr>
                                             <td>Spend</td>
                                             <td> <%= user.physicalActivities.spend %> </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <table class="table mb-0 table-borderless mt-4 table-box-shadow">
                                       <thead>
                                          <tr>
                                             <th scope="col">Advantage</th>
                                             <th scope="col"> <%= user.physicalActivities.advantage %> </th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                         
                                          
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="iq-card">
                                 <div class="iq-card-header d-flex justify-content-between p-0 bg-white">
                                    <div class="iq-header-title">
                                       <h4 class="card-title text-primary">Heart Rate</h4>
                                    </div>
                                 </div>
                                 <div class="iq-card-body p-0">
                                    <div class="d-flex align-items-center">
                                       <div class="mr-3">
                                          <h4 class=""> <%= user.heartRate %> </h4>
                                          <p class="mb-0 text-primary">Health Zone</p>
                                       </div>
                                       <div class="rounded-circle iq-card-icon iq-bg-primary"><i class="ri-windy-fill"></i></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="iq-card">
                                 <div class="iq-card-header d-flex justify-content-between p-0 bg-white">
                                    <div class="iq-header-title">
                                       <h4 class="card-title text-primary">Water Balance</h4>
                                    </div>
                                 </div>
                                 <div class="iq-card-body p-0">
                                    <div class="d-flex align-items-center">
                                       <div class="mr-3 text-left">
                                          <p class="mb-0">Drunk</p>
                                          <h4 class=""><%= user.waterBalance %> </h4>
                                       </div>
                                       <div class="rounded-circle iq-card-icon iq-bg-primary"><i class="ri-add-fill"></i></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

                <div class="row">
                  <div class="col-lg-4">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Vaccinations Information</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           
                           <div class="table-responsive mt-4">
                              <table class="table mb-0 table-borderless">
                                 <tbody>
                                    <tr>
                                       <td>
                                          <div class="iq-profile-avatar status-online mt-4"> </div>
                                       </td>
                                       <td>
                                          <span title="Bacillus Calmette–Guérin (BCG) vaccine is a vaccine primarily used against tuberculosis (TB). In countries where tuberculosis or leprosy is common, one dose is recommended in healthy babies as close to the time of birth as possible."><h4>BCG</h4></span></td>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="iq-profile-avatar status-blue mt-4"> </div>
                                       </td>
                                       <td>
                                          <span title="The hepatitis B vaccine is an injection (or shot) that is generally given in the arm and as a three-dose series on a 0, 1, and 6-month schedule. The recommended doses depend on the vaccine brand and the person's age. 1st Shot - At any given time, but newborns should receive this dose in the delivery room."><h4>Hepatitis B Birth Dose</h4></span></td>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="iq-profile-avatar status-primary mt-4"> </div>
                                       </td>
                                       <td>
                                          <span title="OPV consists of a mixture of live attenuated poliovirus strains of each of the three serotypes, selected by their ability to mimic the immune response following infection with wild polioviruses, but with a significantly reduced incidence of spreading to the central nervous system. Three or more spaced doses of OPV are required to generate adequate levels of seroconversion."><h4>OPV Birth Dose</h4></span></td>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="iq-profile-avatar status-info mt-4"> </div>
                                       </td>
                                       <td>
                                          <span title="hey"><h4>OPV 1,2 & 3</h4></span></td>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="iq-profile-avatar status-away mt-4"> </div>
                                       </td>
                                       <td>
                                          <span title="Countries will introduce at least one dose of IPV to their routine immunization schedules
                                          before the switch from tOPV to bOPV. IPV will protect against the type 2 poliovirus after the
                                          type 2 component of OPV is removed. It will also boost immunity to types 1 and 3."><h4>IPV</h4></span></td>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="iq-profile-avatar status-danger mt-4"> </div>
                                       </td>
                                       <td>
                                          <span title="hey"><h4>Pentavelant 1,2 & 3</h4></span></td>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="iq-profile-avatar status-danger mt-4"> </div>
                                       </td>
                                       <td>
                                          <h4>Rota Virus Vaccine</h4>
                                          <span title="hey"><h4>BCG</h4></span></td>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="iq-profile-avatar status-danger mt-4"> </div>
                                       </td>
                                       <td>
                                          <h4>Measles 1st Dose</h4>
                                          <span title="hey"><h4>BCG</h4></span></td>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="iq-profile-avatar status-danger mt-4"> </div>
                                       </td>
                                       <td>
                                          <h4>Vitamin A, 1st Dose</h4>
                                          <span title="hey"><h4>BCG</h4></span></td>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Tasks</h4>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                              <ul class="nav nav-pills" id="myTab" role="tablist">
                                 <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                                 </li>
                            
                              </ul>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div class="tab-content" id="myTabContent">
                              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                 <div class="d-flex tasks-card" role="alert">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="customCheck11">
                                       <label class="custom-control-label" for="customCheck11">You should checkup on time.</label>
                                    </div>
                                    <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                 </div>
                                 <div class="d-flex tasks-card" role="alert">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="customCheck10">
                                       <label class="custom-control-label" for="customCheck10">Take the medicine on time(if provided)</label>
                                    </div>
                                    <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                 </div>
                                 <div class="d-flex tasks-card" role="alert">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="customCheck12">
                                       <label class="custom-control-label" for="customCheck12">Ask doctor before giving anything</label>
                                    </div>
                                    <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                 </div>
                                 <div class="d-flex tasks-card" role="alert">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="customCheck13">
                                       <label class="custom-control-label" for="customCheck13">Have some Activities</label>
                                    </div>
                                    <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                 </div>
                                 <div class="d-flex tasks-card" role="alert">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="customCheck14">
                                       <label class="custom-control-label" for="customCheck14">Vaccine shouldn't be missed</label>
                                    </div>
                                    <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                 </div>
                                 <div class="d-flex tasks-card" role="alert">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="customCheck15">
                                       <label class="custom-control-label" for="customCheck15">Take food on time</label>
                                    </div>
                                    <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                 </div>
                                 <div class="d-flex tasks-card" role="alert">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="customCheck16">
                                       <label class="custom-control-label" for="customCheck16">Inform hospital if keychain is damaged </label>
                                    </div>
                                    <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                 </div>
                                 <div class="d-flex tasks-card" role="alert">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="customCheck17">
                                       <label class="custom-control-label" for="customCheck17">Don't give and take unneccesary pressure </label>
                                    </div>
                                    <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                 </div>
                              </div>
                              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                 <div class="d-flex tasks-card" role="alert">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="customCheck18">
                                       <label class="custom-control-label" for="customCheck18">Don't give and take unneccesary pressure</label>
                                    </div>
                                    <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                 </div>
                                 <div class="d-flex tasks-card" role="alert">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="customCheck19">
                                       <label class="custom-control-label" for="customCheck19">You should check in on some of  below.</label>
                                    </div>
                                    <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                 </div>
                              </div>
                              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                 <div class="d-flex tasks-card" role="alert">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="customCheck110">
                                       <label class="custom-control-label" for="customCheck110">You should check in on some of  below.</label>
                                    </div>
                                    <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                 </div>
                                 <div class="d-flex tasks-card" role="alert">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="customCheck111">
                                       <label class="custom-control-label" for="customCheck111">You should check in on some of  below.</label>
                                    </div>
                                    <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                 </div>
                                 <div class="d-flex tasks-card" role="alert">
                                    <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="customCheck112">
                                       <label class="custom-control-label" for="customCheck112">You should check in on some of  below.</label>
                                    </div>
                                    <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Upcoming Checkups</h4>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                            
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <ul class="iq-timeline">
                              <% user.upcomingCheckups.forEach( eachOne => { %>
                                 <li>
                                    <div class="timeline-dots"></div>
                                    <h6 class="float-left mb-1"> <%= eachOne.name %> </h6>
                                    <small class="float-right mt-1"><%= eachOne.date %></small>
                                    <div class="d-inline-block w-100">
                                       <p><%= eachOne.vaccine %> </p>
                                    </div>
                                 </li>
                              <%} ) %>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-8">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Doctors Lists </h4>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                              <div class="dropdown">
                                 <span class="dropdown-toggle text-primary" id="dropdownMenuButton5" data-toggle="dropdown">
                                 <i class="ri-more-fill"></i>
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton5">
                                    <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                    <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                    <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                    <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div class="table-responsive">
                              <table class="table mb-0 table-borderless">
                                 <thead>
                                    <tr>
                                       <th scope="col">Doctor</th>
                                       <th scope="col">E-mail Id </th>
                                       <th scope="col">Contact</th>
                                       <th scope="col">Disease Expert</th>

                                    </tr>
                                 </thead>
                                 <tbody>
                                    <% user.docterList.forEach( eachDocter => { %>
                                       <tr>
                                          <td>Dr. <%= eachDocter.name %> </td>
                                          <td><a href="https://iqonic.design/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d1a1b4a5b4a8b2a3a4b8a2b4a3e1e091b6bcb0b8bdffb2bebc">[email&#160;protected]</a></td>
                                          <td><%= eachDocter.contact %></td>
                                          <td><%= eachDocter.diseaseExpert %></td>
                                       </tr>
                                    <%} ) %>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Reports</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <ul class="report-lists m-0 p-0">
                              <li class="d-flex mb-4 align-items-center">
                                 <div class="media-support-info">
                                    <h6>Birth_Test.pdf</h6>
                                    <a href="#">View report</a>
                                 </div>
                                 <button type="button" class="btn btn-success" name="button">Download </button>
                              </li> 
                              <li class="d-flex mb-4 align-items-center">
                                 <div class="media-support-info">
                                    <h6>pathologyreport.pdf</h6>
                                    <a href="#">View report</a>
                                 </div>
                                 <button type="button" class="btn btn-success" name="button">Download </button>
                              </li>   
                              <li class="d-flex mb-4 align-items-center">
                                 <div class="media-support-info">
                                    <h6>laboratoryreports.pdf</h6>
                                    <a href="#">View report</a>
                                 </div>
                                 <button type="button" class="btn btn-danger" name="button">On Hold </button>
                              </li>   
                              <li class="d-flex align-items-center">
                                 <div class="media-support-info">
                                    <h6>Polio_Vaccine.pdf</h6>
                                    <a href="#">View report</a>
                                 </div>
                                 <button type="button" class="btn btn-success" name="button">Download </button>
                              </li>                        
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-header d-flex justify-content-between">
                     <div class="iq-header-title">
                        <h4 class="card-title">Year wise Vaccination and Checkup Analysis</h4>
                     </div>
                  </div>
               </div>
               
            <div class="row">
               <% user.yearCheckups.forEach( eachYear => { %> 
                  <div class="col-lg-4">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body">
                           <div class="patient-steps">
                              <div class="d-flex align-items-center justify-content-between">
                                 <div class="col-md-6">
                                    <div class="data-block">
                                       <p class="mb-0">Year</p>
                                       <h5> <%= eachYear.yearNum %> </h5>
                                    </div>
                                    <div class="data-block mt-3">
                                       <p class="mb-0">Status</p>
                                       <h5> <%= eachYear.status %>  </h5>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <% var percent =  eachYear.taken / eachYear.total * 100 %>
                                    <div class="progress-round patient-progress mx-auto" data-value="<%=percent%>">
                                       <span class="progress-left">
                                       <span class="progress-bar border-secondary"></span>
                                       </span>
                                       <span class="progress-right">
                                       <span class="progress-bar border-secondary"></span>
                                       </span>
                                       <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center text-center">
                                          <div class="h4 mb-0"> <%=percent%> %<br> <span class="font-size-14"></span></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <ul class="patient-role list-inline d-flex align-items-center p-0 mt-4 mb-0">
                                 <li class="text-left">
                                    <h6 class="text-primary">Total</h6>
                                    <h5> <%= eachYear.total %> </h5>
                                    <div class="iq-progress-bar-linear d-inline-block w-100">
                                       <div class="iq-progress-bar">
                                          <span class="bg-primary" data-percent="100"></span>
                                       </div>
                                    </div>
                                 </li>
                                 <li class="text-left">
                                    <h6 class="text-primary">Taken</h6>
                                    <h5> <%= eachYear.taken %>  </h5>
                                    <div class="iq-progress-bar-linear d-inline-block w-100">
                                       <div class="iq-progress-bar">
                                          <% var taken = eachYear.taken / eachYear.total * 100 %>
                                          <span class="bg-danger" data-percent="<%=taken%>"></span>
                                       </div>
                                    </div>
                                 </li>
                                 <li class="text-left">
                                    <h6 class="text-primary">Left</h6>
                                    <h5><%= eachYear.left %></h5>
                                    <div class="iq-progress-bar-linear d-inline-block w-100">
                                       <div class="iq-progress-bar">
                                          <% var left = (eachYear.left / eachYear.total * 100) %>
                                          <span class="bg-info" data-percent="<%=left%>"></span>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                           <hr>
                        </div>
                     </div>
                  </div>
               <%} ) %>
              
            </div>
            </div>
         <!-- Footer -->
            
              
                     </div>
                     <div class="col-lg-7 text-right">
                       <ul class="list-inline mb-0">
                           <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                           <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                        </ul>
                    
               </div>
           
            <!-- Footer END -->
      </div>
   </div>
      <!-- Wrapper END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="js/waypoints.min.js"></script>
      <script src="js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="js/lottie.js"></script>
      <!-- am core JavaScript -->
      <script src="js/core.js"></script>
      <!-- am charts JavaScript -->
      <script src="js/charts.js"></script>
      <!-- am animated JavaScript -->
      <script src="js/animated.js"></script>
      <!-- am kelly JavaScript -->
      <script src="js/kelly.js"></script>
      <!-- Flatpicker Js -->
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
      <!-- Chart Custom JavaScript -->
      <script src="js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="js/custom.js"></script>
   </body>

<!-- Mirrored from iqonic.design/themes/xray/html/dashboard-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 18 Mar 2020 16:44:12 GMT -->
</html>